<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\altair\PythonProjects\venv" />
        <add key="DJANGO_SETTINGS_MODULE" value="irunaScrapper.settings" />
    </appSettings>
    <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\altair\PythonProjects\venv\Scripts\python.exe|D:\altair\PythonProjects\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>